#set($title = "发现")

<div class="posts">
	<ul class="tags_grid tags_effecs clearfix">
	#foreach($row in $tags)
		<li class="col-xs-6 col-sm-4 col-lg-3">
			<figure>
				<a href="$base/browse/tag/${row.name}">
					#if($row.post.type == 'image' && ${row.post.snapshot.preview})
					<img src="$base/dist/images/spinner.gif" data-original="$base${row.post.snapshot.preview}"/>
					#else
                    <div class="txt">$!{row.post.summary}</div>
					#end
					<span class="itag">${row.name}</span>
				</a>
				<figcaption>
					<h3>#${row.name}</h3>
					<span>$!{row.post.title}</span>
				</figcaption>
			</figure>
		</li>
	#end
	</ul>
</div>
    		
