#set($title=$!{ret.title})

<div id="blog-wrap" class="masonry-grid">
	#foreach($row in $paging.results)
	<article class="loop masonry-entry span_1_of_3 col ">
		#if($row.type == 'image' && ${row.snapshot.preview})
		<div class="loop-entry-thumbnail">
			<a href="$base/browse/detail/${row.id}">
				<img src="$base${row.snapshot.preview}"/>
			</a>
		</div>
		#end
		<!-- .post-entry-thumbnail -->
		<div class="zan-outline">
			#if($row.title)
			<header>
				<h4 class="loop-entry-title"">
					<a href="$base/browse/detail/${row.id}">${row.title}</a>
				</h4>
			</header>
			#end
			${row.summary}
		</div>
		<!-- .loop-entry-content -->
		<div class="loop-meta">
			<span><a href="$base/user/${row.author.id}"><i class="fa fa-user"></i>&nbsp;#showName(${row.author})</a></span>
			<span><i class="fa fa-heart-o"></i>&nbsp;${row.hearts}</span>
			<div class="pull-right">
				<span><a href="$base/browse/detail/${row.id}">阅读(${row.views})</a></span>
			</div>
		</div>
		<!-- .loop-entry-meta -->
	</article>
	<!-- .loop-entry -->
	#end
</div>
<!-- #blog-wrap -->
<div class="page-jump clr">
	<div class="newer-posts alignleft"></div>
	<div class="older-posts alignright">
		<a href="$base/browse/gallery_snippet/2">Older Posts &rarr;</a>
	</div>
</div>
