#set($title = "Home")

<div class="sidebar-left">
    <div class="posts">
    	#foreach($row in $page.results)
    	<article id="loop-${row.id}" class="loop clearfix">
    		<section class="loop-content">
    			#if($row.title)
    			<header>
    				<h3 class="loop-title">
    					<a href="$base/browse/detail/${row.id}">${row.title}</a>
    				</h3>
    			</header>
    			#end
    			<div class="row">
    				#showmb($row)
    			</div>
            </section>
    		
    		<div class="loop-meta">
    			<span><i class="fa fa-calendar-o"></i>&nbsp;$date.format('yyyy-MM-dd', $row.created)</span>
    			<span><i class="fa fa-heart-o"></i>&nbsp;${row.hearts}</span>
    			<span><i class="fa fa-comment-o"></i>&nbsp;${row.comments}</span>
				<span><a href="javascript:void(0);" data-evt="trash" data-id="${row.id}" class="trash"><i class="fa fa-trash-o"></i>&nbsp;删除</a></span>
    			<div class="pull-right">
    				<span><a href="$base/browse/detail/${row.id}">阅读全文<i class="fa fa-send-o"></i></a></span>
    			</div>
    		</div>
        </article>
    	<!-- 文章显示结束 -->
		#end
		
		#if($page.results.size() == 0)
		<article class="loop clearfix">
			<section class="loop-content">
				<i class="fa fa-frown-o fa-lg"></i> 您还没发表过文章!
            </section>
        </article>
		#end
		
    </div>
    		
    <div class="text-center clr">
    	#page("home" $page 5)
    </div>
</div>

<div class="sidebar-right bounceInRight animated">
	#parse("/default/inc/right/my.vm")
</div>

<script type="text/javascript">
$(function() {
	$('a[data-evt=trash]').click(function () {
		var id = $(this).attr('data-id');
		
		if (parseInt(id) > 0 && confirm('确定删除此项吗?')) {
			jQuery.getJSON('$base/blog/delete/' + id, function (ret) {
				alert(ret.message);
				if (ret.code >=0) {
					$('#loop-' + id).fadeOut();
					$('#loop-' + id).remove();
				}
			});
		}
	});
})
</script>