#set($title = "Profile")

<div class="container main-sm">
	<div class="row">
		<div class="panel panel-default stacked">
			<div class="panel-heading"><span class="glyphicon glyphicon-user"></span> 修改登录密码</div>
			<div class="panel-body">
				<ul class="nav nav-tabs">
					<li class="">
						<a href="profile">用户信息</a>
					</li>
					<li class="active">
						<a href="password">修改密码</a>
					</li>
				</ul>
				<br>
				<div id="message">
				#parse("/inc/action_message.vm")
				</div>
				<div class="tab-content" id="tab">
					<div class="tab-pane active" id="passwd">
						<form id="pw" action="password" method="post" class="form-horizontal">
        					<fieldset>
        						<div class="form-group">											
        							<label class="control-label col-lg-3" for="password">密码</label>
        							<div class="col-lg-4">
        								<input type="password" class="form-control" id="password" name="password" data-required>
        							</div>		
        						</div>
        						<div class="form-group">											
        							<label class="control-label col-lg-3" for="password2">确认密码</label>
        							<div class="col-lg-4">
        								<input type="password" class="form-control" name="password2" data-required data-conditional="confirm" data-describedby="message" data-description="passwd">
        							</div>
        						</div>
        						<div class="form-group">
        							<div class="text-center">
        							<button type="submit" class="btn btn-primary">提交</button> 
        							</div>
        						</div><!-- /form-actions -->
        					</fieldset>
        				</form>
					</div>
                </div>
			</div><!-- /panel-content -->
        </div><!-- /panel -->
	</div>
</div>
<script type="text/javascript">
$(function(){
	$('#pw').validate({
		onKeyup : true,
		onChange : true,
		eachValidField : function() {
			$(this).closest('div').removeClass('has-error').addClass('has-success');
		},
		eachInvalidField : function() {
			$(this).closest('div').removeClass('has-success').addClass('has-error');
		},
		conditional : {
			confirm : function() {
				return $(this).val() == $('#password').val();
			}
		},
		description : {
			passwd : {
				conditional : '<div class="alert alert-danger">两次输入的密码不一致</div>'
			}
		}
	});
})
</script>