#set($layout = "/admin/layout/default.vm")

<style type="text/css">
	#postView {border:0; width: 100%; height: 100%;}
	.split-line {width: 100%; height: 1px; margin: 4px 0 2px;}
</style>

<div class="row">
	<div class="col-lg-12">
        <h1 class="page-header">文章管理</h1>
    </div>
</div>
<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">文章列表</div>
            <!-- /.panel-heading -->
            <div class="panel-body">
				<form id="qForm" method="post">
					<input type="hidden" name="pn" value="${page.pageNo}" />
                </form>
				<table id="dataGrid" class="table table-striped table-bordered table-hover">
                    <tr>
						<th>文章标题</th>
						<th style="width: 92px;">发表日期</th>
                        <th class="text-center" style="width: 95px;">操作</th>
					</tr>
					#foreach($row in $page.results)
					<tr>
                        <td>
							$string.abbreviate("$!{row.title}", 22)
						</td>
						<td>
							$date.format('yyyy-MM-dd', $row.created)
						</td>
                        <td class="text-center">
							<a href="$base/admin/posts/view?id=${row.id}" target="postView" class="btn btn-primary btn-xs">查看</a>
							<a href="javascript:void(0);" class="btn btn-danger btn-xs" data-id="${row.id}" data-action="delete">删除</a>
						</td>
                    </tr>
					#end
				</table>
                <!-- /.table-responsive -->
				<div class="text-center">
                	#page("list" $page 5)
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
	</div>
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">文章查看</div>
            <!-- /.panel-heading -->
            <div class="panel-body" style="height: 516px;">
                <iframe id="postView" name="postView" src="$base/error/preview.html"></iframe>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
var J = jQuery;

function ajaxReload(json){
    if(json.code >= 0){
        if(json.message != null && json.message != ''){
            alert(json.message);
        }
        $('#qForm').submit();
    }else{
        alert(json.message);
    }
}

$(function() {
	// 删除
    $('#dataGrid a[data-action="delete"]').bind('click', function(){
        if(confirm('删除后将不可撤销, 确定要继续吗？')){
            J.getJSON('$base/admin/posts/delete', {id: $(this).attr('data-id')}, ajaxReload);
        }
        return false;
    });
})
</script>