<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mtons轻博客 - $!title</title>
	<meta name="keywords" content="mtons,blog,轻博客,博客,社区,摄影,旅游,美食,时尚,艺术,娱乐 ">
	<meta name="description" content="Mtons, 轻松分享你的兴趣. 便捷的文字、图片发布,扁平化的响应式设计,美观、大气,是您记录生活的最佳选择">
		
	<link rel='stylesheet' media='all' href='$base/dist/css/font-awesome.min.css'/>
	<link rel="stylesheet" media='all' href="$base/dist/css/bootstrap.min.css">
	<link rel='stylesheet' media='all' href='$base/dist/css/style.css'/>
	<link rel='stylesheet' media='all' href='$base/dist/css/layout.css'/>
	<link rel='stylesheet' media='all' href='$base/dist/css/animate.css'/>
	
	<!--[if lt IE 9]>
    <script src="$base/dist/js/html5.js"></script>
    <![endif]-->
	
	<script type='text/javascript' src='$base/dist/js/jquery.min.js'></script>
	<script type="text/javascript" src="$base/dist/js/jquery.lazyload.js"></script>
	<script type="text/javascript" src="$base/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="$base/dist/js/plugins.js"></script>
	<script type='text/javascript' src='$base/dist/js/jquery-validate.js'></script>
	<script type='text/javascript' src='$base/dist/js/mtons.js'></script>
	
	#foreach($j in $js)
	<script type="text/javascript" src="$j"></script>
	#end
	
	<script type='text/javascript' src='$base/dist/js/global.js'></script>
	
	<!-- Favicons -->
	<link rel="apple-touch-icon-precomposed" href="http://mtons.com/dist/images/logo/m.png"/>
	<link rel="shortcut icon" href="http://mtons.com/dist/images/logo/m.png"/>
	
</head>
<body>
	#parse("/default/inc/header.vm")
	
	${screen_content}
	<!--.site-main -->
	
	#parse("/default/inc/footer.vm")
	
	<a href="#" class="site-scroll-top"></a>
</body>
</html>
