<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans.xsd"
  default-autowire="byName">
    
    <bean id="userDao" class="mblog.core.persist.dao.impl.UserDaoImpl" />
	<bean id="mblogDao" class="mblog.core.persist.dao.impl.MblogDaoImpl" />
	<bean id="albumDao" class="mblog.core.persist.dao.impl.AlbumDaoImpl"/>
	<bean id="commentDao" class="mblog.core.persist.dao.impl.CommentDaoImpl" />
	
    <bean id="userService" class="mblog.core.service.impl.UserServiceImpl"/>
    <bean id="mblogService" class="mblog.core.service.impl.MblogServiceImpl"/>
    <bean id="albumService" class="mblog.core.service.impl.AlbumServiceImpl"/>
    <bean id="commentService" class="mblog.core.service.impl.CommentServiceImpl"/>
    
    <bean id="appContext" class="mblog.core.context.AppContext"/>
    
</beans>