#set($title = "$!{user.name}")
#set($layout = "/default/layout/schema.vm")

<div class="profile">
	<div class="container">
		<div class="avatar bounceInDown animated">
			<img class="img-circle" src="$base${user.avatar}">
		</div>
		<h1>#showName(${user})</h1>
        <h2>Ta发布的文章</h2>
		<!--
		<a class="btn btn-white" href="#">Back</a>
		-->
	</div>
</div>

<section class="site-main container">
	<div class="site-content">
	    <div class="posts">
        	#foreach($row in $page.results)
        	<article id="loop-${row.id}" class="loop clearfix">
        		<section class="loop-content">
        			#if($row.title)
        			<header>
        				<h3 class="loop-title">
        					<a href="$base/browse/detail/${row.id}">${row.title}</a>
        				</h3>
        			</header>
        			#end
        			<div class="row">
        				#showmb($row)
        			</div>
                </section>
        		
        		<div class="loop-meta">
        			<span><i class="fa fa-calendar-o"></i>&nbsp;$date.format('yyyy-MM-dd', $row.created)</span>
        			<span><i class="fa fa-heart-o"></i>&nbsp;${row.hearts}</span>
        			<div class="pull-right">
        				<span><a href="$base/browse/detail/${row.id}">阅读全文<i class="fa fa-send-o"></i></a></span>
    					
        			</div>
        		</div>
            </article>
        	<!-- 文章显示结束 -->
        	#end
        </div>
        		
        <div class="text-center clr">
        	#page("$base/user/$!{user.id}" $page 5)
        </div>
	</div>
</section>
