<div class="row links">
	<div class="col-md-6">
		<div>
			<h4>联系方式</h4>
		</div>
		<ul class="nav nav-pills">
			<li>
				<a href="mailto:langhsu@gmail.com">电子邮件</a>
			</li>
		</ul>
	</div>
	<div class="col-md-6">
		<div>
			<h4>友情链接</h4>
		</div>
		<ul class="nav nav-pills friend-link">
			<li>
				<a href="http://www.bootcss.com" target="_blank">Bootstrap中文网</a>
			</li>
			<li>
				<a href="http://www.oschina.net" target="_blank">开源中国</a>
			</li>
			<li>
				<a href="http://www.cnblogs.com/" target="_blank">博客园</a>
			</li>
		</ul>
	</div>
</div>