#set($title="Blog")

<link rel='stylesheet' media='all' href='$base/dist/css/tagit.css'/>
<link href="$base/dist/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
	
<script type="text/javascript" charset="utf-8" src="$base/dist/umeditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="$base/dist/umeditor/umeditor.min.js"></script>
<script type="text/javascript" charset="utf-8" src="$base/dist/js/tag-it.js"></script>

<div class="site-content">
    <div class="panel panel-default">
    	<div class="panel-heading">
    		<span class="glyphicon glyphicon-edit"></span> 发布图片
    	</div>
    	<div class="panel-body">
    		<div id="message"></div>
    		
    		<form class="form-horizontal" action="$base/blog/post" method="post" enctype="multipart/form-data">
    			<input type="hidden" name="type" value="${type}"/>
    			<div class="form-group">
    				<label for="desc" class="col-sm-2 control-label no-padding-right">标题</label>
    				<div class="col-sm-8">
    					<input type="text" class="form-control" name="title" data-required>
    				</div>
    			</div>
    			<div class="form-group">
                    <label class="col-sm-2"></label>
    				<div class="col-sm-8">
    					<div id="preview">
    					</div>
    					<div class="share-upload" id="upload_box">
                			<input id="upload_btn" type="file" name="file" value=""/>
                		</div>
    				</div>
    			</div>
    			<div class="form-group">
    				<label for="desc" class="col-sm-2 control-label no-padding-right">内容:</label>
    				<div class="col-sm-8">
    					<textarea id="content" name="content" rows="5" data-required data-describedby="message" data-description="content"></textarea>
    				</div>
    			</div>
    			<div class="form-group">
    				<label for="desc" class="col-sm-2 control-label no-padding-right">标签:</label>
    				<div class="col-sm-8">
    					<input type="hidden" name="tags" id="fieldTags">
    					<ul id="tags"></ul>
    					<p class="help-block" style="font-size: 12px;">添加相关标签，用逗号或空格分隔.</p>
    				</div>
    			</div>
    			<div class="form-group">
        			<div class="text-center">
        				<button type="submit" class="btn btn-primary">提交</button>
        			</div>
        		</div>
    			<!-- /form-actions -->
    		</form>
    	</div>
    </div>
</div>

<script type="text/javascript">
var upload_url = '$base/blog/upload';
var base_url = '$base';
var up_count = 1;
var up_max = 6;

$(function() {
	var p = 0;
	
	if (App.browser.ios || App.browser.android) {
		$('#content').addClass('form-control');
	} else {
    	UM.getEditor('content',{
    		toolbar: ["bold","italic","underline","justifyleft","justifycenter",
    			"justifyright","blockquote","link","unlink","inserttable","removeformat","fullscreen"],
			autoClearinitialContent: true,
    		wordCount:true,
    		maximumWords:2000,
    		initialFrameWidth:'100%',
    		initialFrameHeight:300
    	});
	}
	
	$('#tags').tagit({
		singleField: true,
		singleFieldNode: $('#fieldTags')
	});
	
	$('#upload_btn').change(function(){
		if (up_max == up_count) {
			$('#upload_btn').attr('disabled',"true");
		}
		$(this).upload(upload_url, function(data){
			if (data.code >= 0) {
				var path = data.data;
				
				var html = '<div class="alert alert-success">' +
    				'<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
    				'<img src="' + (base_url + path )+ '">' +
					'<input type="hidden" name="albums[' + p + '].original" value="' + path + '"/>' +
    				'</div>';
				
				$('#preview').append(html);
				p++;
				up_count++;
			}
		});
	});
	
	$('form').validate({
		onKeyup : true,
		onChange : true,
		eachValidField : function() {
			$(this).closest('div').removeClass('has-error').addClass('has-success');
		},
		eachInvalidField : function() {
			$(this).closest('div').removeClass('has-success').addClass('has-error');
		},
		conditional : {
			content : function() {
				return $(this).val().length > 0;
			}
		},
		description : {
			content : {
				required : '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>写点内容吧</div>'
			}
		}
	});
});
</script>