<script type="text/javascript" src="$base/dist/js/app/sidebox.js"></script>

<aside id="secondary" class="sidebar-container">
	<div class="panel panel-default">
		<div class="panel-heading">快速发布</div>
		<div class="text-center widget_social_widget clearfix">
			<ul class="clr">
				<li>
					<a href="$base/blog/post?type=text" class="text" title="发布文字">
						<i class="fa fa-paper-plane-o fa-2x"></i>
					</a>
				</li>
				<li>
					<a href="$base/blog/post?type=image" class="image" title="发布图片">
						<i class="fa fa-image fa-2x"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</aside>
<!-- #secondary -->

<div id="sidebox" class="sidebox">
	<div id="tab-title">
		<span class="selected"><i class="icon-arrows-cw"></i>最热文章</span>
		<span><i class="icon-clock"></i>最新发布</span>
	</div>
	<div id="tab-content">
		<div>
			<ul id="hots" class="tab_post_links">
			</ul>
		</div>
		<div style="display: none;">
			<ul id="recents" class="tab_post_links">
			</ul>
		</div>
	</div>
</div>

<div class="sidebox sidebar-social-icon">
	<img src="$base/dist/images/erweima.png" class="weixin" width="100%" height="auto">
</div>

<script type="text/javascript">
var recent_li_template = '<li><a href="{0}" class="tab_post_title"><span class="post_i">{1}</span>{2}</a><div class="clear"></div></li>'
				
$(function () {
	var sidebox = new Sidebox($('#sidebox'), {
		recentUrl : '$base/browse/recents_json',
    	hotUrl : '$base/browse/hots_json',
    	maxResults :6,
        // callback
        onLoadHot : function (i, data) {
        	var url = '$base/browse/detail/' + data.id;
      		var item = jQuery.format(recent_li_template, url, i + 1, data.title);
      		return item;
        },
        onLoadRecent : function (i, data) {
        	var url = '$base/browse/detail/' + data.id;
      		var item = jQuery.format(recent_li_template, url, i + 1, data.title);
      		return item;
        }
	});
	
	sidebox.onLoad();
	
})
</script>