<div class="sidebox sidebar-social-icon">
	<img src="$base/dist/images/erweima.png" class="weixin" width="100%" height="auto">
	<div class="sidebar-social bdsharebuttonbox" data-tag="share_1">
		<a class="bds_qzone" data-cmd="qzone" href="#"></a>
		<a class="bds_tsina" data-cmd="tsina"></a>
		<a class="bds_baidu" data-cmd="baidu"></a>
		<a class="bds_tqq" data-cmd="tqq"></a>
		<a class="bds_more" data-cmd="more">更多</a>
	</div>
	<script type="text/javascript">
	window._bd_share_config = {
		common : {
			bdText : 'Mtons 轻博客',	
			bdDesc : 'Mtons, 轻松分享你的兴趣',	
			bdUrl : 'http://mtons.com', 	
			bdPic : 'http://mtons.com/dist/images/logo/m.png'
		},
		share : [{
			"bdSize" : 32
		}],
		slide : [{	   
			bdImg : 0,
			bdPos : "right",
			bdTop : 100
		}],
		image : [{
			viewType : 'list',
			viewPos : 'top',
			viewColor : 'black',
			viewSize : '16',
			viewList : ['qzone','tsina','huaban']
		}],
		selectShare : [{
			"bdselectMiniList" : ['qzone','tqq']
		}]
	}
	with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
	</script>
</div>
<!--
<div class="sidebox">
	<div id="tab-title">
		<span class="selected"><i class="icon-arrows-cw"></i>随机推荐</span>
		<span><i class="icon-clock"></i>最新发布</span>
	</div>
	<div id="tab-content">
		<div>
			<ul id="recents" class="tab_post_links">
				<li>
					<a href="#" class="tab_post_title">
					<span class="post_i">1</span> 一大波平台来袭，可用性测试怎么破
					</a>
					<span class="post_num">0</span>
					<div class="clear"></div>
				</li>
				<li>
					<a href="#" class="tab_post_title">
					<span class="post_i">2</span> 一大波平台来袭，可用性测试怎么破
					</a>
					<span class="post_num">0</span>
					<div class="clear"></div>
				</li>
				<li>
					<a href="#" class="tab_post_title">
					<span class="post_i">3</span> 一大波平台来袭，可用性测试怎么破
					</a>
					<span class="post_num">0</span>
					<div class="clear"></div>
				</li>
			</ul>
		</div>
		<div class="hide" style="display: none;">
			<ul class="tab_post_links">
				<li>
					<a href="#" class="tab_post_title">
						<span class="post_i">1</span>
						原创作品：壮族生态色谱——最美的民族颜色！一个壮族人二十年的色彩观
					</a>
					<span class="time"><i class="icon-clock"></i>9/22</span>
					<div class="clear"></div>
				</li>
				<li>
					<a href="#" class="tab_post_title">
						<span class="post_i">2</span>
						原创作品：壮族生态色谱——最美的民族颜色！一个壮族人二十年的色彩观
					</a>
					<span class="time"><i class="icon-clock"></i>9/22</span>
					<div class="clear"></div>
				</li>
				<li>
					<a href="#" class="tab_post_title">
						<span class="post_i">3</span>
						原创作品：壮族生态色谱——最美的民族颜色！一个壮族人二十年的色彩观
					</a>
					<span class="time"><i class="icon-clock"></i>9/22</span>
					<div class="clear"></div>
				</li>
			</ul>
		</div>
	</div>
</div>
-->