## 用户名称显示
#macro(showName $user)
	#if ($user.name)
$user.name
	#else
$user.username
	#end
#end

## 文章显示
#macro(showmb $row)
	#if($row.type == 'image' && ${row.snapshot.preview})
		<div class="col-md-5">
			<figure class="thumbnail zan-thumb">
				<a href="$base/browse/detail/${row.id}">
					<img src="$base/dist/images/spinner.gif" data-original="$base${row.snapshot.preview}"/>
				</a>
			</figure>  
		</div>        
		<div class="col-md-7 zan-outline">
			<div class="loop-entry-excerpt entry clr">
				$!{row.summary}
			</div>
		</div>
	#else
		<div class="col-md-12">
			<div class="loop-entry-excerpt entry clr">
				$!{row.summary}
			</div>
		</div>
	#end
#end

## 翻页代码
#macro (page $url $p $maxList)
	#set($span = (${maxList} - 3)/2)
	#set($__pc = $p.pageCount)
    #if($url.indexOf("?") != -1)
        #set($cURL=($url + "&pn="))
    #else
        #set($cURL=($url + "?pn="))
    #end
    
<ul class="pagination">
	#if($p.pageNo > 1)
		<li><a class="prev" href="${cURL}${p.prev}" pageNo="1"><</a></li>
    #end
    
    #set($totalNo = ${span} * 2 + 3)
    #set($totalNo1 = $totalNo - 1)
    #if($p.pageCount > $totalNo)
    	#if($p.pageNo <= $span + 2)
    		#foreach($i in [1..$totalNo1])
		        #link(${p.pageNo}, $i, $cURL)
		    #end
		    #link(0, 0, "#")
		    #link(${p.pageNo}, ${p.pageCount}, $cURL)
    	#elseif($p.pageNo > ($p.pageCount - (${span} + 2)))
    		#link(${p.pageNo}, 1, ${cURL})
			#link(0, 0, "#")
			#set($num = ${p.pageCount} - ${totalNo} + 2)
			#foreach($i in [$num..${p.pageCount}])
	        	#link(${p.pageNo}, ${i}, ${cURL})
	        #end
    	#else
    		#link(${p.pageNo}, 1, $cURL)
    		#link(0 0 "#")
			#set($num = ${p.pageNo}-${span})
			#set($num2 = ${p.pageNo}+$span)
    		#foreach($i in [$num..$num2])
		        #link($p.pageNo, $i, $cURL)
		    #end
		    #link(0, 0, "#")
		    #link($p.pageNo, $p.pageCount, $cURL)
    	#end
    #elseif ($p.pageCount > 1)
		#foreach($i in [1..$p.pageCount])
	        #link(${p.pageNo}, $i, $cURL)
	    #end
    #else
        #link(1, 1, $cURL)
    #end
    
    #if ($p.pageNo < $p.pageCount)
		<li><a href="${cURL}${p.next}" pageNo="$p.next">></a></li>
	#end
</ul>
#end


<#-- 分页链接A -->
#macro (link $pageNo $idx $url)
	#if ($idx == 0)
		<li><span>...</span></li>
    #elseif ($pageNo == $idx)
		<li class="active"><a href="javascript:void(0);"><span>${idx}</span></a></li>
    #else
		<li><a href="${url}${idx}">${idx}</a></li>
    #end
#end