<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mtons轻博客 - 登录</title>
	<meta name="keywords" content="mtons,blog,轻博客,博客,社区,摄影,旅游,美食,时尚,艺术,娱乐 ">
	<meta name="description" content="Mtons, 轻松分享你的兴趣. 便捷的文字、图片发布,扁平化的响应式设计,美观、大气,是您记录生活的最佳选择">
	
	<!-- v3 -->
	<link rel="stylesheet" href="$base/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="$base/dist/css/first.css">
	<link rel="stylesheet" href="$base/dist/css/animate.css">
	
	<!-- JavaScript -->
	
	<!--[if lt IE 9]>
    <script src="$base/dist/js/html5.js"></script>
    <![endif]-->
	
	<script type="text/javascript" src="$base/dist/js/jquery.min.js"></script>
	<script type="text/javascript" src="$base/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="$base/dist/js/jquery-validate.js"></script>
	
	<!-- Favicons -->
	<link rel="apple-touch-icon-precomposed" href="http://mtons.com/dist/images/logo/m.png"/>
	<link rel="shortcut icon" href="http://mtons.com/dist/images/logo/m.png"/>
	
</head>
<body class="default">
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		#parse("/inc/browse_tips.vm")
		<div class="container-fluid">
			<div class="navbar-header">
				<button id="main_nav_btn" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand logo" href="http://www.mtons.com"><img src="$base/dist/images/logo/m.png"></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="$base/browse/gallery" class="highlight">走廊</a></li>
					<li><a href="$base/browse/explore" class="highlight">发现</a></li>
					<li><a href="$base/reg" class="highlight">注册</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	${screen_content}
		
	#parse("/inc/footer.vm")
	
	<script type="text/javascript">
	$(function() {
		$("#main_nav_btn").on("click",function(){return $(".navbar").toggleClass("navbar-default")})
	})
	</script>
	
</body>
</html>
