#set($title = "修改用户信息")
#set($layout = "/default/layout/schema.vm")

<link rel='stylesheet' media='all' href='$base/dist/css/jquery.Jcrop.min.css'/>

<script type="text/javascript" charset="utf-8" src="$base/dist/js/jquery.Jcrop.min.js"></script>

#parse("/default/inc/snippet/profile.vm")

<nav id="profile-navigation" class="profile-navbar">
	<div class="container">
		<div class="content">
			<ul class="nav navbar-nav">
				<li class="">
					<a href="profile">用户信息</a>
				</li>
				<li class="active">
					<a href="avater">修改头像</a>
				</li>
				<li class="">
					<a href="password">登录密码</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<section class="site-main container">	
	<div class="site-content">
	    <div class="panel panel-default stacked">
	    	<div class="panel-heading"><span class="fa fa-user"></span> 修改头像</div>
	    	<div class="panel-body">
	    		<div id="message">
	    		#parse("/default/inc/action_message.vm")
	    		</div>
    			<form class="form-horizontal" action="avater" method="post">
					<input type="hidden" id="x" name="x" value=""/>
					<input type="hidden" id="y" name="y" value=""/>
					<input type="hidden" id="width" name="width" value=""/>
					<input type="hidden" id="height" name="height" value=""/>
					<input type="hidden" id="path" name="path" value=""/>
					<div class="share-upload" id="upload_box">
                		<input id="upload_btn" type="file" name="file" value=""/>
                	</div>
					<div class="update_ava">
						<img src="$base${profile.avater}" id="target" alt="[Jcrop Example]" />
					</div>
					
					<div class="form-group">
						<div class="text-center">
							<button type="submit" class="btn btn-primary">提交</button> 
						</div>
					</div>
    			</form>
	    	</div><!-- /panel-content -->
	    </div><!-- /panel -->
	</div>
</section>
<script type="text/javascript">
var upload_url = '$base/blog/upload?scale=true&size=400';
var base_url = '$base';

#[[
	var jcrop_api;
	var jcrop_init = false;
	
	function getRandom() {
		var dim = jcrop_api.getBounds();
		return [
			Math.round(Math.random() * dim[0]),
			Math.round(Math.random() * dim[1]),
			Math.round(Math.random() * dim[0]),
			Math.round(Math.random() * dim[1])
		];
    };
	
	function showCoords(c) {
		$('#x').val(c.x);
		$('#y').val(c.y);
		$('#width').val(c.w);
		$('#height').val(c.h);
	};
  
	function initJcrop() {
		$('#target').Jcrop({
			boxWidth:400,
      		aspectRatio: 100 / 100,
			onChange:   showCoords,
      		onSelect:   showCoords,
			allowSelect: false
		},function(){
    		jcrop_api = this;
    		jcrop_api.animateTo([100,100,400,300]);
		});
	}
	jQuery(function($){
		
    	$('#upload_btn').change(function(){
    		$(this).upload(upload_url, function(data){
    			if (data.code >= 0) {
    				var path = base_url + data.data;
    				$("#target").attr("src", path);
					$("#path").val(data.data);
					
					if (!jcrop_init) {
						initJcrop();
						jcrop_init = true;
					} else {
    					jcrop_api.setImage(path, function () {
    						 this.animateTo(getRandom());
    					});
					}
    			}
    		});
    	});
	
	});

]]#
</script>
