#set($title = "修改登录密码")
#set($layout = "/default/layout/schema.vm")

#parse("/default/inc/snippet/profile.vm")

<nav id="profile-navigation" class="profile-navbar">
	<div class="container">
		<div class="content">
			<ul class="nav navbar-nav">
				<li class="">
					<a href="profile">用户信息</a>
				</li>
				<li class="">
					<a href="avater">修改头像</a>
				</li>
				<li class="active">
					<a href="password">登录密码</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<section class="site-main container">
	<div class="site-content">
	    <div class="panel panel-default stacked">
	    	<div class="panel-heading"><span class="fa fa-lock"></span> 修改登录密码</div>
	    	<div class="panel-body">
	    		<div id="message">
	    		#parse("/default/inc/action_message.vm")
	    		</div>
				<div class="tab-pane active" id="passwd">
					<form id="pw" action="password" method="post" class="form-horizontal">
						<div class="form-group">											
							<label class="control-label col-lg-3" for="password">当前密码</label>
							<div class="col-lg-6">
								<input type="password" class="form-control" name="oldPassword" maxlength="18" data-required>
							</div>		
						</div>
						<div class="form-group">											
							<label class="control-label col-lg-3" for="password">新密码</label>
							<div class="col-lg-6">
								<input type="password" class="form-control" id="password" name="password" maxlength="18" data-required>
							</div>		
						</div>
						<div class="form-group">											
							<label class="control-label col-lg-3" for="password2">确认密码</label>
							<div class="col-lg-6">
								<input type="password" class="form-control" name="password2" data-required maxlength="18" data-conditional="confirm" data-describedby="message" data-description="passwd">
							</div>
						</div>
						<div class="form-group">
							<div class="text-center">
							<button type="submit" class="btn btn-primary">提交</button> 
							</div>
						</div><!-- /form-actions -->
					</form>
				</div>
	    	</div><!-- /panel-content -->
	    </div><!-- /panel -->
	</div>
</section>
<script type="text/javascript">
$(function(){
	$('#pw').validate({
		onKeyup : true,
		onChange : true,
		eachValidField : function() {
			$(this).closest('div').removeClass('has-error').addClass('has-success');
		},
		eachInvalidField : function() {
			$(this).closest('div').removeClass('has-success').addClass('has-error');
		},
		conditional : {
			confirm : function() {
				return $(this).val() == $('#password').val();
			}
		},
		description : {
			passwd : {
				conditional : '<div class="alert alert-danger">两次输入的密码不一致</div>'
			}
		}
	});
})
</script>