<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理</title>
	
	<link rel='stylesheet' media='all' href='$base/dist/css/font-awesome.min.css'/>
	<link rel="stylesheet" media='all' href="$base/dist/css/bootstrap.min.css">
	<link rel='stylesheet' media='all' href='$base/dist/css/sb-admin-2.css'/>
	
	<!--[if lt IE 9]>
    <script src="$base/dist/js/html5.js"></script>
    <![endif]-->
	
	<script type='text/javascript' src='$base/dist/js/jquery.min.js'></script>
	<script type="text/javascript" src="$base/dist/js/bootstrap.min.js"></script>
	<script type='text/javascript' src='$base/dist/js/jquery-validate.js'></script>
	
	#foreach($j in $js)
	<script type="text/javascript" src="$j"></script>
	#end
	
	<!-- Favicons -->
	<link rel="apple-touch-icon-precomposed" href="http://mtons.com/dist/images/logo/m.png"/>
	<link rel="shortcut icon" href="http://mtons.com/dist/images/logo/m.png"/>
	
	<style type="text/css">
	body {font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;}
    </style>
</head>
<body>
	<div id="wrapper">
    	#parse("/admin/inc/header.vm")
    	
    	<div id="page-wrapper">
    		${screen_content}
        </div>
	</div>
</body>
</html>
