<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mtons轻博客 - $!title</title>
	
	<link rel='stylesheet' media='all' href='$base/dist/css/font-awesome.min.css'/>
	<link rel="stylesheet" media='all' href="$base/dist/css/bootstrap.min.css">
	<link rel='stylesheet' media='all' href='$base/dist/css/style.css'/>
</head>
<body>
	${screen_content}
</body>
</html>
