<aside id="secondary" class="sidebar-container">
	<div class="panel panel-default">
		<div class="panel-heading">快速发布</div>
		<div class="text-center widget_social_widget clearfix">
			<ul class="clr">
				<li>
					<a href="$base/blog/post?type=text" class="text">
						<i class="fa fa-paper-plane-o fa-2x"></i>
					</a>
				</li>
				<li>
					<a href="$base/blog/post?type=image" class="image">
						<i class="fa fa-image fa-2x"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</aside>
<!-- #secondary -->

<div class="sidebox sidebar-social-icon">
	<img src="$base/dist/images/erweima.png" class="weixin" width="100%" height="auto">
	<ul class="sidebar-social">
		<li class="sidebar-social-icons"><a class="weibo hint--bottom" data-hint="微博" href=""></a></li>
		<li class="sidebar-social-icons"><a class="qq hint--bottom" data-hint="QQ" href="" target="_blank" rel="nofollow"></a></li>
		<li class="sidebar-social-icons"><a class="rss hint--bottom" data-hint="订阅" href=""></a></li>
	</ul>
</div>
<!--
<div class="sidebox">
	<div id="tab-title">
		<span class="selected"><i class="icon-arrows-cw"></i>随机推荐</span>
		<span><i class="icon-clock"></i>最新发布</span>
	</div>
	<div id="tab-content">
		<div>
			<ul id="recents" class="tab_post_links">
				<li>
					<a href="#" class="tab_post_title">
					<span class="post_i">1</span> 一大波平台来袭，可用性测试怎么破
					</a>
					<span class="post_num">0</span>
					<div class="clear"></div>
				</li>
				<li>
					<a href="#" class="tab_post_title">
					<span class="post_i">2</span> 一大波平台来袭，可用性测试怎么破
					</a>
					<span class="post_num">0</span>
					<div class="clear"></div>
				</li>
				<li>
					<a href="#" class="tab_post_title">
					<span class="post_i">3</span> 一大波平台来袭，可用性测试怎么破
					</a>
					<span class="post_num">0</span>
					<div class="clear"></div>
				</li>
			</ul>
		</div>
		<div class="hide" style="display: none;">
			<ul class="tab_post_links">
				<li>
					<a href="#" class="tab_post_title">
						<span class="post_i">1</span>
						原创作品：壮族生态色谱——最美的民族颜色！一个壮族人二十年的色彩观
					</a>
					<span class="time"><i class="icon-clock"></i>9/22</span>
					<div class="clear"></div>
				</li>
				<li>
					<a href="#" class="tab_post_title">
						<span class="post_i">2</span>
						原创作品：壮族生态色谱——最美的民族颜色！一个壮族人二十年的色彩观
					</a>
					<span class="time"><i class="icon-clock"></i>9/22</span>
					<div class="clear"></div>
				</li>
				<li>
					<a href="http://demo.suxing.me/229.html" class="tab_post_title">
						<span class="post_i">3</span>
						原创作品：壮族生态色谱——最美的民族颜色！一个壮族人二十年的色彩观
					</a>
					<span class="time"><i class="icon-clock"></i>9/22</span>
					<div class="clear"></div>
				</li>
			</ul>
		</div>
	</div>
</div>
-->
<script type="text/javascript">
var recent_li_template = '<li class="cat-item cat-item-6"><a href="{0}">{1}</a></li>'
						
$(function () {
	jQuery.getJSON('$base/browse/recents_json', function(ret){
		if(ret && ret.length > 0){
      		jQuery.each(ret, function(i, n) {
				if (n.title != undefined && n.title.length > 0) {
					var url = '$base/browse/detail/' + n.id;
      				var item = jQuery.format(recent_li_template, url, n.title);
      				$('#recents').append(item);
				}
      		});
      	} else {
      		$('#recents').append('<li class="cat-item cat-item-6"><span>沒有相关记录</span></li>');
      	}
	});
})
</script>