#set($title="方寸视界 nbless.com")
#set($layout="blog.vm")
#set($nav="2")

<div id="main" class="tiles-parent">
	<ul id="tiles" class="tiles">
   		<!-- These are our grid blocks -->
		#foreach($row in $paging.results)
        <li>
			<a href="$base/blog/detail.do?id=${row.id}&nav=2">
				#if($row.title)
				<div class="text"><strong>${row.title}</strong></div>
				#end
				#if($row.type == 'image')
    			<img src="../images/spinner.gif" original="$base${row.cover.preview}">
				#end
    			<div class="summary">${row.summary}</div>
			</a>
			<!--
			<div class="actions">
				<div class="button"><a href="#" class="">评论</a>(0)</div>
			</div>
			-->
		</li>
		#end
    </ul>
</div>
<script type="text/javascript" src="$base/js/jquery.imagesloaded.js"></script>
<script type="text/javascript" src="$base/js/jquery.wookmark.js"></script>
<script type="text/javascript" src="../js/jquery.lazyload.js"></script>
<script type="text/javascript" src="../js/app/discovery.js"></script>
<script type="text/javascript">
$(function(){
	
});
</script>