<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mtons</title>
	<meta name="description" content="Mtons, 轻松分享你的兴趣">
	<meta name="keywords" content="博客,blog,轻博客">
		
	<!-- v3 -->
	<link rel="stylesheet" href="$base/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="$base/dist/css/first.css">
	
	<!-- JavaScript -->
	<script type="text/javascript" src="$base/dist/js/jquery.min.js"></script>
	<script type="text/javascript" src="$base/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="$base/dist/js/jquery-validate.js"></script>
	
	<!-- Favicons -->
	<link rel="apple-touch-icon-precomposed" href="$base/dist/images/logo/m.png"/>
	<link rel="shortcut icon" href="$base/dist/images/logo/m.png"/>
	
</head>
<body class="default">
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	
	<nav class="navbar navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button id="main_nav_btn" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand logo" href="https://www.mtons.com"><img src="$base/dist/images/logo/m.png"></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="$base/reg">注册</a></li>
					<li><a href="$base/browse/gallery">走廊</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	${screen_content}
		
	<footer id="footer">
		<div class="container">
			<div class="row copyright">
				<div class="col-md-12 col-sm-12">
					<div class="row">
						<div class="col-md-4 col-sm-5">Copyright 2014 Mtons. All rights reserved.</div>
						<div class="col-md-6 col-sm-5">
							<a href="http://mtons.com">Mtons</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
	<script type="text/javascript">
	$(function() {
		$("#main_nav_btn").on("click",function(){return $(".navbar").toggleClass("navbar-default")})
	})
	</script>
	
</body>
</html>
