#set($layout = "/admin/layout/default.vm")

<div class="row">
	<div class="col-lg-12">
        <h1 class="page-header">重置密码</h1>
    </div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
				#parse("/admin/message.vm")
				<div class="col-lg-3">
    				<form id="qForm" method="post">
    						<div class="form-group input-group">
        					<span class="input-group-addon">${view.username}</span>
            				<input type="password" class="form-control" name="newPassword" placeholder="新密码"/>
    					</div>
    					<button type="submit" class="btn btn-primary">提交</button>
                    </form>
				</div>
            </div>
            <!-- /.panel-body -->
        </div>
	</div>
</div>
<script type="text/javascript">
var J = jQuery;

$(function() {
	
})
</script>