#set($layout="default/layout/noop.vm")

#foreach($row in $page.results)
<article class="loop masonry-entry span_1_of_3 col ">
	#if($row.type == 'image' && ${row.snapshot.preview})
	<figure class="loop-entry-thumbnail">
		<a href="$base/browse/detail/${row.id}">
			<img src="$base${row.snapshot.preview}"/>
		</a>
	</figure>
	#end
	<!-- .post-entry-thumbnail -->
	<div class="zan-outline">
		#if($row.title)
		<header>
			<h4 class="loop-entry-title"">
				<a href="$base/browse/detail/${row.id}">${row.title}</a>
			</h4>
		</header>
		#end
		${row.summary}
	</div>
	<!-- .loop-entry-content -->
	<div class="loop-meta">
		<span><a href="$base/user/${row.author.id}"><i class="fa fa-user"></i>&nbsp;#showName(${row.author})</a></span>
		<span><a href="javascript:void(0)" onclick="onHeart('${row.id}')"><i class="fa fa-heart-o"></i>&nbsp;${row.hearts}</a></span>
		<span><i class="fa fa-comment-o"></i>&nbsp;${row.comments}</span>
		<div class="pull-right">
			<span><a href="$base/browse/detail/${row.id}">阅读</a></span>
		</div>
	</div>
	<!-- .loop-entry-meta -->
</article>
<!-- .loop-entry -->
#end