#set($title = "$!{tag}")

#set($results = $page.results)

<div class="sidebar-left">
	<div class="posts-head">
		<i class="fa fa-tag fa-lg"></i> $!{tag}
	</div>
    <div class="posts">
    	#foreach($row in $results)
    	<article class="loop clearfix">
    		<section class="loop-content">
    			#if($row.title)
    			<header>
    				<h3 class="loop-title">
    					<a href="$base/browse/detail/${row.id}">${row.title}</a>
    				</h3>
    			</header>
    			#end
    			<div class="row">
    				#showmb($row)
    			</div>
            </section>
    		
    		<div class="loop-meta">
				<span><a href="$base/user/${row.author.id}"><i class="fa fa-user"></i>&nbsp;#showName(${row.author})</a></span>
    			<span><i class="fa fa-calendar-o"></i>&nbsp;$date.format('yyyy-MM-dd', $row.created)</span>
    			<span><i class="fa fa-heart-o"></i>&nbsp;${row.hearts}</span>
    			<span><i class="fa fa-comment-o"></i>&nbsp;${row.comments}</span>
    			<div class="pull-right">
    				<span><a href="$base/browse/detail/${row.id}">阅读全文<i class="fa fa-send-o"></i></a></span>
    			</div>
    		</div>
        </article>
    	<!-- 文章显示结束 -->
		#end
    </div>
    		
    <div class="text-center clr">
    	#page("tag/$!{tag}" $page 5)
    </div>
</div>

</style>
<div class="sidebar-right bounceInRight animated">
	<div class="search">
		<form class="form-inline clearfix" method="get" id="searchform" action="$base/browse/search">
    		<div class="input-group custom-search-form">
        		<input type="text" class="form-control" name="q" placeholder="搜索...">
        		<span class="input-group-btn">
        			<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
        		</span>
        	</div>
		</form>
	</div>
	#parse("/default/inc/right/public.vm")
</div>
