#set($title=$!{ret.title})

<div class="sidebar-left">
	<ol class="breadcrumb">
		<li><a href="$base/home">Home</a></li>
		<li><a href="#">admin</a></li>
	</ol>
	<div class="posts">
		<article class="loop clearfix">
			<section class="loop-content">
				#if($ret.title)
				<header class="post-title ">
					<h2>${ret.title}</h2>
				</header>
				#end
				<div class="entry">
					#if($ret.albums)
    					#foreach($row in $ret.albums)
    					<div class="single-post-media">
    						<img src="$base/dist/images/spinner.gif" data-original="$base${row.original}" style="display: block;">
    					</div><!-- .post-thumbnail -->	
    					#end
    				#end
					<div class="zan-outline">
						${ret.content}
					</div>
				</div>
				<div class="post-meta">
					<div class="post-like">
						<span><a href="#" class="btn btn-primary">喜欢</a></span>
					</div>
					<span><i class="fa fa-calendar"></i>&nbsp;$date.format('yyyy-MM-dd HH:mm', $ret.created)</span>
				</div>
			</section>
			
			<!-- 大型设备文章显示结束 -->
		</article>
	</div>
	<!-- post/end -->
</div>

<div class="sidebar-right bounceInRight animated">
	#parse("/inc/right/public.vm")
</div>

<script type="text/javascript">
$(function(){
	$("img").lazyload({
		 placeholder : "$base/dist/images/spinner.gif",
		 effect      : "fadeIn"
	});
	
});
</script>