#set($title=$!{ret.title})

<script type="text/javascript" src="$base/dist/js/plugins.js"></script>
<script type="text/javascript" src="$base/dist/js/global.js"></script>

<div id="blog-wrap" class="masonry-grid">
	#foreach($row in $paging.results)
	<article class="loop masonry-entry span_1_of_3 col ">
		#if($row.type == 'image' && ${row.snapshot.preview})
		<figure class="loop-entry-thumbnail">
			<a href="$base/browse/detail/${row.id}">
				<img src="$base/dist/images/spinner.gif" data-original="$base${row.snapshot.preview}"/>
			</a>
		</figure>
		#end
		<!-- .post-entry-thumbnail -->
		<div class="zan-outline">
			${row.summary}
		</div>
		<!-- .loop-entry-content -->
		<div class="loop-meta">
			<span>发布: $date.format('yyyy-MM-dd HH:mm', $row.created)</span>
		</div>
		<!-- .loop-entry-meta -->
	</article>
	<!-- .loop-entry -->
	#end
</div>
<!-- #blog-wrap -->
<div class="page-jump clr">
	<div class="newer-posts alignleft"></div>
	<div class="older-posts alignright">
		<a href="$base/browse/gallery_snippet/2">Older
			Posts &rarr;</a>
	</div>
</div>
	
<script type="text/javascript">
/* <![CDATA[ */
var wpexLocalize = {
	"mobileMenuOpen" : "Click here to navigate",
	"mobileMenuClosed" : "Close navigation",
	"isOriginLeft" : "1"
};
/* ]]> */
		
</script>
