#set($title = "Home")

<div class="sidebar-left">
    <ol class="breadcrumb">
    	<li class="active">Home</li>
    </ol>
    <div class="posts">
    	#foreach($row in $paging.results)
    	<article class="loop clearfix">
    		<section class="loop-content">
    			#if($row.title)
    			<header>
    				<h3 class="loop-title">
    					<a href="$base/browse/detail/${row.id}">${row.title}</a>
    				</h3>
    			</header>
    			#end
    			<div class="row">
    				#showmb($row)
    			</div>
            </section>
    		
    		<div class="loop-meta">
    			<span><i class="fa fa-user"></i>&nbsp;<a href="#" rel="author">Ketu</a></span>
    			<span><i class="fa fa-calendar"></i>&nbsp;$date.format('yyyy-MM-dd HH:mm', $row.created)</span>
    			<span><i class="fa fa-comment"></i>&nbsp;<a href="#">0</a></span>
    			<div class="pull-right">
    				<span><a href="$base/browse/detail/${row.id}">阅读全文<i class="glyphicon glyphicon-send"></i></a></span>
    			</div>
    		</div>
        </article>
    	<!-- 文章显示结束 -->
    	#end
    </div>
    		
    <div class="text-center clr">
    	#page("home" $paging 5)
    </div>
</div>

<div class="sidebar-right bounceInRight animated">
	#parse("/inc/right/my.vm")
</div>
