#set($title ="Message")
#set($layout="layout/single.vm")

<div class="panel panel-default stacked">
	<div class="panel-heading">Message prompt</div>
	<div class="panel-body">
		<fieldset>
			#if($errors && $errors.size() > 0 || $actionErrors && $actionErrors.size() > 0)
				#foreach($e in $actionErrors)
					<div class="alert alert-danger">$!{e}</div>
				#end
				#foreach($e in $errors)
					<div class="alert alert-danger">$!{e}</div>
				#end
			#end
			#if($actionMessages && $actionMessages.size() > 0)
				#foreach($e in $actionMessages)
					<div class="alert alert-danger">$!{e}</div>
				#end
			#end
		</fieldset>
	</div><!-- /panel-content -->
</div><!-- /panel -->
